body {
  font-family: Arial;
  background: #0b1b2b;
  color: white;
  text-align: center;
}

table {
  margin: auto;
  width: 60%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

th {
  background: #12263a;
}
